video {
  display: none;
}

#tanekRadio {
  display: block;
  width: 100%;
  height: 200px;
}

main {
  min-height: 75vh;
}

#play_button {
  display: block;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
}

header {
  background: #F9F7F7;
  color: #112D4E;
}